// Brand colors
$black: #333535;
$green: #38a77a;
$lightgreen: #73d9af;
$teal: #40a39b;
$pink: #da7979;
$yellow: #f2cd72;

// Alt colors
$midgrey: #dde2e5;
$warningred: #e70f1c;
$white: #ffffff;

// Main
$primary: $black;
$secondary: $green;

